#announcement-panel {
  padding-top: 80px;
  padding-bottom: 80px;
}

#announcement-header,
#announcement-subheader {
  color: white;
  padding: 10px;
}

#announcement-header {
  font-size: 4em;
}

#announcement-subheader {
  font-size: 2em;
}

#form,
#results {
  padding: 40px;
}

#announcement-panel {
  background-image: linear-gradient(to right,rgba(38, 77, 0, 0.55), rgba(38, 77, 0, 0.55)),url('background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#home-energy-label,
.fa-home {
  color: #ff8c00;
}

#travel-label,
.fa-globe {
  color: #008b8b;
}

#waste-label,
.fa-recycle {
  color: #228b22;
}

.progress-bar {
  font-size: 1.2em;
}

.score-info {
  padding: 10px;
  margin: 0;
}


/* about */

#about-panel {
  background-image: linear-gradient(to right,rgba(38, 77, 0, 0.55), rgba(38, 77, 0, 0.55)),url('background.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 65px;
}
#about-header {
  font-size: 4em;
  color: white;
  padding-top: 5px;
  padding-bottom: 80px;
}

#about{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: justify;
  font-size: 1.5em;
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}
#fact {
  font-size: 3em;
  color: #F4743B;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

#text{
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: justify;
  font-size: 1.5em;
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

#boxa {
  margin-top: 3rem;
  position: relative;
  padding: 3rem 4rem 4rem;
  border-radius: 30px;  
  display: flex;
  flex-direction: column;
  /* font-size: 1em; */
  text-align: justify;
  background-color:#FEDAAE ;
}

#boxb {
  margin-top: 3rem;
  position: relative;
  padding: 3rem 4rem 4rem;
  border-radius: 30px;  
  display: flex;
  flex-direction: column;
  /* font-size: 1em; */
  text-align: justify;
  background-color:#D1EFBD ;
}

#fact1 {
  font-size: 3em;
  color: #62929E;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}


.iframe {
  margin-top: 2rem;
  margin-left: 9rem;
}

@media only screen and (max-width: 600px) {
  #know-more {
    margin-top: 18rem;
  }
}

/* quiz */

#quiz {
  margin-top: 3rem;
  position: relative;
  padding: 3rem 4rem 4rem;
  border-radius: 30px;  
  display: flex;
  flex-direction: column;
  /* font-size: 1em; */
  text-align: justify;
  background-color:#FEDAAE ;
}
#takequiz {
  color: #01295F;
  padding: none;
  font-size: 2em;
  padding-bottom: 50px;
}

#about-subheader {
  font-size: 2em;
  color:green;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
 
}

/* buttons */

.button {
  padding: 0.6rem 0.9rem !important;
  position: absolute;
  top: 1rem;
  right: 39rem;
  background-color:black !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.buttonn {
  padding: 0.6rem 0.9rem !important;
  position: absolute;
  top: 1rem;
  right: 44.5rem;
  background-color:black !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.btn1 {
  padding: 0.6rem 0.9rem !important;
  position: absolute;
  top: 7.5rem;
  right: 1.5rem;
  background-color:black !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

#nepali {
  padding: 0.6rem 0.9rem !important;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color:brown !important;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
   border-radius: 30px;  
}

#logo {
  padding: 0.6rem 0.9rem !important;
  position: absolute;
  top: 0.75rem;
  left: 39rem;
  background-color:white !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

